apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ "{{" }} .Release.Name {{ "}}" }}-{{.AppName}}
  labels:
    app: {{.AppName}}
    release: {{ "{{" }} .Release.Name {{ "}}" }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: {{ "{{" }} .Values.ingress.className {{ "}}" }}
  rules:
    - host: {{ "{{" }} .Values.ingress.host {{ "}}" }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ "{{" }} .Release.Name {{ "}}" }}-{{.AppName}}
                port:
                  number: {{ "{{" }} .Values.service.port {{ "}}" }}
